body{
  max-width: 1000px;
  margin: 40px auto;
  font-family: Tahoma, sans-serif;
}

button{
  margin: 10px;
}

#channel_list{
  margin: 10px;
  border: 4px solid gray;
}

h1, h3{
  text-align: center;
  font-family: Georgia, serif;
  font-style: italic;
}

ul{
  list-style-type: none;
}

#user_list{
  color: purple;
}
