body{
  max-width: 1000px;
  margin: 40px auto;
  background-color: lightgreen;
  font-family: Tahoma, sans-serif;
}

.button{
  background-color: pink;
  border-radius: 50%;
  padding: 6px;
  text-align: center;
  cursor: pointer;
}

h1{
  text-align: center;
  font-family: Georgia, serif;
  font-style: italic;
}

.topics{
  display: none;
}
