<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/index.js"></script>
    <script src="https://kit.fontawesome.com/28c738b143.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container">

      <div class="top_bar">
        <h1>flack by uziel</h1>
        <p>User: <span id="username">Guest</span> &nbsp;&nbsp;<a href="#" id="change_user">(change)</a></p>
        <p>Channel: <span id="channel_chosen">none</span> &nbsp;&nbsp;<a href="#" id="change_channel">(change)</a></p>
      </div>


      <div class="welcome">
        <p>Choose a username and password to login, or to register.</p>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only">Choose display name:</label>
            <input id="display_name" type="text" class="form-control" placeholder="choose display name" autofocus>
          </div>
          <button id="submit_display_name" class="btn btn-success">submit</button>
        </form>
      </div>

      <div class="channel">
        <p>Choose from one of these popular channels, or create one of your own:</p>
        <div id="channel_list"></div>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only">Create New Channel</label>
            <input id="channel" type="text" class="form-control" placeholder="create new channel" autofocus>
          </div>
          <button id="submit_channel" class="btn btn-success" disabled>submit</button>
        </form>
        <span id="channel_error"></span>
      </div>

      <div class="message">
        <div class="message_box"><ul id="message_list"></ul></div>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only">Send message</label>
            <input id="message" class="form-control" style="min-width: 100%!important;" type="text" autofocus>
            <input id="open_file" type="file" hidden>
            <i id="paperclip" class="fas fa-paperclip"></i>
          </div>
          <button id="submit_message" class="btn btn-success" disabled>send</button>
        </form>
      </div>

    </div>
  </body>
</html>
