<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>welcome to flack by uziel</h1>

    <div class="welcome">
      <p>first choose a display name:</p>
      <input id="display_name" type="text" placeholder="display name">
      <button id="submit_display_name" class="button">go!</button>
    </div>

    <div class="topics">
      <p>nice of you to join us, <span id="username"></span>!</p>
    </div>

    <div class="messaging">
      <h1>MESSAGING</h1>
    </div>

  </body>
</html>
